<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/hovercraft.css" />
  </head>
  <body>
    <h1>Hovercraft</h1>

    <div id="menu"></div>

    <div id="container">
      <div id="image-search">
        <h3>Image Search</h3>
        <form action="#">
          <input type="text" placeholder="image search">
        </form>
        <ul></ul>
      </div>

      <div id="presentation">
        <div class="slide" id="add-slide">
          <a href="#">Add slide</a>
        </div>
      </div>
    </div>
  </body>

  <script src="http://backbonejs.org/test/vendor/underscore-1.3.1.js"></script>
  <script src="http://backbonejs.org/test/vendor/jquery-1.7.1.js"></script>
  <script src="http://backbonejs.org/backbone.js"></script>
  <script src="/static/editor.js"></script>

  <script type="text/template" id="slide-template">
    <textarea><%= text %></textarea>
  </script>

  <script type="text/template" id="menu-template">
    <img src="/static/menubutton.jpg"/>
  </script>

  <script type="text/template" id="image-search-template">
    <% _.each(images, function(img){ %>
      <li><img src='<%= img.thumb.url %>'></li>
    <% }); %>
  </script>

  <script>
    $(function() {
      var app = new AppView("{{ presentation_id }}");
      app.render();
    });
  </script>
</html>
