{% extends "base.html" %}

{% block navigation %}
    <ul class="nav pull-right">
        {% if 'email' not in session or 'access_token' not in session %}
        <li><a href="{{ url_for('handle_list_presentations') }}">Login</a></li>
        {% else %}
        <li><p class="navbar-text">Welcome, {{ session.email }}</p></li>
        <li><a href="{{ url_for('handle_list_presentations') }}">Presentations</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul>
{% endblock navigation %}

{% block container %}
    <div class="container">
      <div class="page-header">
        <h1>
          Presentations
        </h1>
      </div>
      <div>
	<table class="table">
	  {% for pres in presentations %}
	<tr>
	  <td>

          <a href="/presentations/{{ pres.id }}">{{ pres.title }}</a></li>
</td><td><a class="btn btn-primary" href="/presentations/{{ pres.id }}/edit">Edit</a> <a class="btn btn-danger delete-button" href="/presentations/{{ pres.id }}/delete" rel="Delete {{ pres.title }}" onclick="return false">Delete</a></td>
	</tr>
	  {% endfor %}
</table>
      </div>
    </div>
    <script src="{{url_for('static', filename='assets/js/jquery-1.8.3.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.js')}}">
    </script>
    <script src="{{url_for('static', filename='assets/js/bootbox.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='list_presentations.js')}}">
    </script>
{% endblock container %}
