<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{url_for('static', filename='assets/css/bootstrap.css')}}" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="{{url_for('static', filename='assets/css/bootstrap-responsive.css')}}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
	</script>
	<![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/ico/favicon.ico')}}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{url_for('static', filename='assets/ico/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename='assets/ico/apple-touch-icon-114-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url_for('static', filename='assets/ico/apple-touch-icon-72-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='assets/ico/apple-touch-icon-57-precomposed.png')}}">
    <style>
    </style>
  </head>
  
  <body>
    <div class="container">
      <div class="page-header">
        <h1>
          Presentations
        </h1>
      </div>
      <div>
	<table class="table">
	  {% for pres in presentations %}
	<tr>
	  <td>

          <a href="/presentations/{{ pres.id }}">{{ pres.title }}</a></li>
</td><td><a class="btn btn-primary" href="/presentations/{{ pres.id }}/edit">Edit</a> <a class="btn btn-danger delete-button" href="/presentations/{{ pres.id }}/delete" rel="Delete {{ pres.title }}" onclick="return false">Delete</a></td>
	</tr>
	  {% endfor %}
</table>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.js')}}">
    </script>
    <script src="{{url_for('static', filename='assets/js/bootbox.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='assets/js/jquery-1.8.3.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='list_presentations.js')}}">
    </script>
  </body>

</html>
